@charset "utf-8";

.body_font{
  font-family: Lato;
}
.clearfix::after{
  content: "";
  clear: both;
  display: block;
}

.inner{
  width: 1100px;
  margin: 0 auto;
}
  
  .bolt_btn{
    text-decoration: none;
}

  
  
.header_wrapper{ /*headerの全体的な指定*/
  padding: 15px 0;
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 1; /*これがないとimgのhoverでheaderも変化してしまう*/
}

.header_content{ /*floatでやる*/
  text-align: center;
  float: left;
}

.header_content:last-child{ 
  float: right;
}

.header_content_textbox{
  z-index: 2;
  display: inline-block;
  padding: 14px 12px;
  font-size: 12px;
  background-color: #74cfae;
}

.header_contact_text{ /*contactのfont指定や周りの色 anchor*/
  color: #fff;
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
}

.header_content_textbox:hover .header_contact_text{
  color: #333;
}

.main_css{/*ここはheader分だけ*/
  padding-top: 78px;
  background-color: #f2f2f2;
}

.title_wrapper{ /*headerのposition: fixedが浮いているからその分は
  mainタグで高さ分足している*/
  background-color: #f2f2f2;
  padding: 250px 0;
  font-family: Raleway;
}

.title_text{
  text-align: center;
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  margin-bottom: 20px;
}

.subtitle_text{
  text-align: center;
  font-size: 30px;
  color: #c0c0c0;
}

.iphone_wrapper{ /*iphoneの部分　ここでpadding指定しておくをまとめられる*/
  background-color:  #74cfae;
  padding-top: 50px;
  font-family: Raleway;
}

.iphone_box_content{ /*widthはよくわからんから見た目がいいとこ*/
  width: 500px;
  float: left;
  text-align: center;
}

.img_iphone{ /*imgの背景をbackground-colorで塗る*/
  background-color: #74cfae;
  text-align: right;
  vertical-align: bottom;
}

.iphone_title{  /*margin-bottom: 35pxをここにつけるべきかも*/
  font-size: 24px;
  color: #fff;
  margin-bottom: 35px;
}

.iphone_description{
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.our_latest_work_wrapper{ /*padding-topで上からの間隔をあける*/
  font-family: Raleway;
  padding-top: 60px;
  padding-bottom: 70px;
  background-color: #f2f2f2;
}

.our_latest_work_title{
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
}

.our_latest_work_container{ /*これで箱同士の間隔を0にしないと並ばない*/
  font-size: 0;
}

.img_our_latest_work{ /*imgの間隔を指定*/
  display: inline-block;
  margin-top: 80px;
  margin-left: 100px;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.img_our_latest_work:hover{
  opacity: 1;
}

.img_our_latest_work:nth-child(3n-2){ /*3n-2番目のimgが一番左に来るので、そこのmarginを0にする*/
  margin-left: 0;
}

.img_our_latest_work:nth-child(-n+3){ /*-n+XでX番目まで 3番目まではmargin-topがいらないので外す*/
  margin-top: 0;
}

.our_latest_work_text_container{ /*marginで間隔をとる*/
  margin-top: 90px;
  font-size: 20px;
  text-align: center;
}

.our_latest_work_text_content{ /*inline-blockにしてEmailの部分をvertical-alineで揃えられるようにする*/
  display: inline-block;
  text-align: center;
  margin-left: 90px;
  vertical-align: middle;
}

.our_latest_work_text_content:first-child{ /*文章部分の左にmarginはいらない*/
  margin-left: 0;
}

.our_latest_work_textbox{ /*文章部分のサイズ、大体こんなもんだと思う*/
  width: 500px;
}

.our_latest_work_emailbox{ /*Emailの箱のほう*/
  padding: 14px 20px;
  background-color: #74cfae;
}

.our_latest_work_email_text{ /*Emailの文字のほう*/
  color: #fff;
  font-size: 12px;
  transition: color 0.3s ease;
}

.our_latest_work_text_content:hover .our_latest_work_email_text{
  color: #333;
}

.our_skills_wrapper{
  font-family: Raleway;
  background-color: #4e4e4e;
  padding-top: 70px;
  padding-bottom: 100px;
}

.our_skills_title{
  font-size: 24px;
  color: #fff;
  margin-bottom: 70px;
  text-align: center;
}

.our_skills_container{
  font-size: 0;
  text-align: center;
}

.our_skills_content{
  display: inline-block;
  margin-left: 180px;
}

.our_skills_content:first-child{
  margin-left: 0;
}

.img_our_skills{
  margin-bottom: 10px;
}

.our_skills_text{
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.sns_wrapper{
  background-color: #f2f2f2;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.sns_container{
  font-size: 0;
}

.sns_content{
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: inline-block;
  width: 185px;
  transition: background-color 0.3s ease;
}

.sns_item{
  color: #74cfae;
}

.sns_content:hover{
  background-color: #fff;
}

.footer_wrapper{
  background-color: #74cfae;
  padding-top: 20px;
  padding-bottom: 25px;
  text-align: right;
}

.footer_text{
  color: #fff;
}

@media screen and (max-width: 1199px){ /*max-widthは最大が1199px*/
  /*1199px~768pxがタブレット*/
  .iphone_wrapper{
    padding-bottom: 25px;
  }

  .inner{
    width: 97%;
  }

  .iphone_box_content{
    width: auto;
    float: none;
  }

  .iphone_box_content:first-child{
    padding-bottom: 20px;
  }

  .img_our_latest_work{
    display: block;
    text-align: center;
    margin: 0 auto;
    max-width: 300px;
  }

  .img_our_latest_work:nth-child(3n){
    margin-bottom: 80px;
  }

  .img_our_latest_work:nth-child(3n-2){
    margin: 0 auto;
  }

  .img_our_latest_work:last-child{
    margin-bottom: 0;
  }

  .our_latest_work_text_content{
    margin-left: 0;
  }

  .our_latest_work_text_content{
    margin-bottom: 40px;
  }

  .our_latest_work_text_content:last-child{
    margin-bottom: 0;
  }

  .our_latest_work_textbox{
    width: auto;
  }

  .our_skills_content{
    display: block;
    margin: 0 auto 88px;
  }

  .our_skills_content:last-child{
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px){
/*767px以下のスマホ*/
  .title_wrapper{
    padding: 160px 0 130px 0;
  }

  .title_text{
    font-size: 80px;
    margin-bottom: 0;
  }

  .title_text_sp{
    display: block;
    text-align: center;
  }

  .title_text_sp:nth-child(2){
    margin-bottom: 20px;
  }

  .subtitle_text_sp{
    display: block;
    text-align: center;
  }

  .sns_wrapper{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .sns_content{
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  
  .header_content_textbox{
    display: none;
  }

  .humberger_css{
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .humberger_menu{
    width: 66px;
    padding: 10px;
    box-sizing: border-box;
  }

  .humberger_bar{
    width: 30px;
    margin-bottom: 5px;
    vertical-align: middle;
  }
}

/*チェック　変更すべきところ
icon bolt に変更
iconとcontact　btn 左端と右端 >>marginでとってたものを1100pxの両サイドに配置した
 　
 　title wrapper mainでpadding 380px指定　mainタグに >>titleのほうでpaddingとっていたのをmainタグにした
  title content入らない　無駄なものは消す >>title contentといういらないタグをなくしてtitle_textに入れた
  bolt titleはLota bodyタグに指定　一番上に 全体に指定する  >>font-family:Lato;をbody全体に指定
  free bootstrap はpタグ　h1は基本的に一つ  >>h2タグだったものをpタグに変更
  sectionタグごとにh1使ってもよい
  ここ以外はh2タグ
  inner の高さ0 clearfixが一つ下　iphoneのとこ  >>clearfixがiphone_wrapperについていたのでinnerにつけた
  したはmargin指定what weのとこ >>paddingつけてたのをmarginに変更
  img部をaタグにする  >>imgをaタグで囲った
  その下　同じ高さにいるやつとの余白はmargin  >>間隔をpaddingでとっていたのでmarginに変更
  ourskillsのpaddingはmargin
  ドリブルが二つ目のアイコン >>footer_textboxという使ってないdivの削除
  hoverが消えるのが早い0.3sかけて消えるように
  our text container paddingはmargin*/


  /*2回目
  headerにheader_wrapperを指定
  headerの両サイドにfloatで浮かせる
  mainタグのpadding-topをheader分だけにしてtitle_wrapperにpadding: 250px 0;
  our_latest_work_text_containerがpaddingで余白をとっていたので
  marginに変更*/

  
  /*レスポンシブ
  */